/*--------------------------------------------------------------
# hero-area
--------------------------------------------------------------*/

.hero-area{
padding-top: 100px;
  @media only screen and (max-width: 991px) {
   padding-top: 70px;
  }
.hero-text{
  p{
    font-size: 40px;
    @media only screen and (max-width: 1199px) {
     font-size: 35px;
     line-height: .8;
    }
    @media only screen and (max-width: 991px) {
      font-size: 35px;
     line-height: 0.7;
    }
    @media only screen and (max-width: 767px) {
     font-size: 30px;
    }

  }
}

}
