@font-face {
font-family: "Minecraft Regular";
  src: url("../fonts/MinecraftRegular-Bmg3.otf");
}
@font-face {
  font-family: "Minecraft Regular Bold";
  src: url("../fonts/MinecraftBold-nMK1.otf");
  font-weight: bold;
}


$bg-black:#000000;
$primary-color:#2042e3;
$secondary:#E3B333;
$bg-white:#FFFFFF;
$title-color:#0c1636;
$text-color: #4f5158;
