/*--------------------------------------------------------------
# admin-sec
--------------------------------------------------------------*/

.admin-sec {
	background-color: #f2f1f6;
	padding: 50px 0px;
  @media only screen and (max-width: 767px) {
   padding: 30px 0px;
  }
}

.left-bar {
	.pay-box {
		background-color: $bg-white;
		padding: 20px 20px;
		border-radius: 30px;
		.total {
			font-size: 18px;
			font-weight: 600;
			color: #68686a;
			margin-bottom: 10px;
			@media only screen and (max-width: 1199px) {
				font-size: 17px;
			}
		}
		h1 {
			font-size: 44px;
			margin-bottom: 10px;
			@media only screen and (max-width: 1199px) {
				font-size: 40px;
			}
			sup {
				font-size: 30px;
				@media only screen and (max-width: 1199px) {
					font-size: 27px;
				}
			}
		}
		.poly {
			font-size: 17px;
			font-weight: 700;
			color: #37c646;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			@media only screen and (max-width: 1199px) {
				font-size: 16px;
			}
			img {
				height: 20px;
				margin-right: 5px;
			}
		}
	}

	.left-btn {
		margin: 25px 0px;
	}
	.btn-grey {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		text-decoration: none;
		border: 0;
		padding: 10px 15px;
		height: 60px;
		font-size: 16px;
		font-weight: 500;
		color: $bg-white;
		background-color: #a9a8ac;
		border-radius: 50px;
		transition: all 0.2s ease-in;
		&:not(:last-child) {
			margin-bottom: 17px;
		}

		&:hover {
			background-color: #919092;
			color: $bg-white;
		}
	}

	.left-logo {
		text-align: center;
		.logol {
			height: 60px;
			margin-bottom: 20px;
			@media only screen and (max-width: 1199px) {
				height: 50px;
			}
		}
	}

	.left-btn-flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: -8px;
		margin-right: -8px;
	}
	.btn-prime {
		margin-left: 8px;
		margin-right: 8px;
		display: flex;
		width: 100%;
		height: 59px;
		justify-content: center;
		align-items: center;
		border-radius: 50px;
		text-decoration: none;
		border: 0;
		padding: 10px 10px;
		background-color: $primary-color;
		color: $bg-white;
		font-size: 16px;
		font-weight: 600;
		transition: all 0.2s ease-in;
		&:hover {
			background-color: darken($color: $primary-color, $amount: 10%);
			color: $bg-white;
		}
	}

	.btn-white {
		text-decoration: none;
		border: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: $bg-white;
		border-radius: 50px;
		font-size: 16px;
		color: $text-color;
		font-weight: 600;
		width: 100%;
		height: 59px;
		transition: all 0.2s ease-in;
		&:hover {
			background-color: darken($color: $bg-white, $amount: 1%);
			color: $text-color;
		}
	}
}

.right-bar {
	.scrollmenu {
		background-color: $bg-white;
		border-radius: 50px;
		overflow: auto;
		white-space: nowrap;
		padding: 10px 10px;

	}
	.search-form {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 250px;
		.form-control {
			background-color: #f2f1f6;
			border: 0;
			border-radius: 50px;
			height: 54px;
			text-indent: 26px;
			font-weight: 500;
			font-size: 15px;
      @media only screen and (max-width: 767px) {
       height: 49px;
      }
		}
		.search-icons {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 13px;
			height: 22px;
		}
	}
	.btn-scoll {
		font-size: 15px;
		text-decoration: none;
		outline: none;
		border: 0;
		display: inline-flex;
		justify-content: center;
		text-align: center;
		padding: 15px 13px;
		min-width: 150px;
		border-radius: 50px;
		background-color: #f2f1f6;
		color: $text-color;
		font-weight: 500;
    transition: all .2s ease-in;
    @media only screen and (max-width: 767px) {
     padding: 12px 12px;
    }
    &:hover{
      background-color: #dfdfdf;
      color: $text-color;
    }
	}

  .white-box{
    margin-top: 25px;
    background-color: $bg-white;
    border-radius: 20px;
    padding: 20px 20px;
    height: 530px;
    @media only screen and (max-width: 767px) {
     height: 400px;
    }
  }
}
