/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

.footer{
  padding-top: 40px;
 padding-bottom: 80px;
 @media only screen and (max-width: 991px) {
  padding-bottom: 40px;
  padding-top: 15px;
 }
 @media only screen and (max-width: 482px) {
  padding-bottom: 30px;
 }
 .footer-widget{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media only screen and (max-width: 991px) {
     justify-content: center;
    }
  }
  li{
    &:not(:last-child) {
    margin-right: 18px;
    @media only screen and (max-width: 767px) {
     margin-right: 10px;
    }
    }
    display: inline-block;
  }
  .footer-logo{
    height: 55px;
    margin-right: 20px;
    @media only screen and (max-width: 1299px) {
     margin-right: 15px;
     height: 53px;
    }
    @media only screen and (max-width: 991px) {
     height: 47px;
     margin-right: 12px;
    }
    @media only screen and (max-width: 767px) {
     height: 35px;
     margin-right: 5;
    }
    @media only screen and (max-width: 482px) {
     height: 35px;
     margin-right: 3px;
    }
  }
  a{
    display: inline-block;
    text-decoration: none;
    color: #2F3031;
    font-size: 18px;
    font-family: $font-sf-bold;
    @media only screen and (max-width: 991px) {
     font-size: 16px;
    }

  }
 }

 .downloand-btn{
  padding-top: 26px;
  @media only screen and (max-width: 991px) {
   text-align: center;
   padding-top: 24px;
   padding-bottom: 22px;
  }
  a{
    &:not(:last-child) {
    margin-right: 5px;
    }
    text-decoration: none;
    display: inline-block;
    img{
      height: 55px;
      @media only screen and (max-width: 991px) {
       height: 45px;
      }
      @media only screen and (max-width: 767px) {
       height: 37px;
      }
    }
  }
 }

 .footer-social{
  text-align: end;
  @media only screen and (max-width: 991px) {
   text-align: center;
  }
  a{
    &:not(:last-child) {
    margin-right: 20px;
    @media only screen and (max-width: 767px) {
     margin-right: 14px;
    }
    }
    text-decoration: none;
    display: inline-block;
    img{
      height: 25px;
      @media only screen and (max-width: 767px) {
       height: 21px;
      }
    }
  }
 }

}
