/*--------------------------------------------------------------
# hero-area
--------------------------------------------------------------*/

.hero-area {
	padding: 15px 0px;
	padding-top: 90px;
	@media only screen and (max-width: 1199px) {
		padding: 15px 0px;
		padding-top: 70px;
	}
	@media only screen and (max-width: 991px) {
		padding: 15px 0px;
		padding-top: 70px;
	}
	@media only screen and (max-width: 767px) {
		padding: 15px 0px;
		padding-top: 60px;
	}
	@media only screen and (max-width: 482px) {
		padding: 15px 0px;
		padding-top: 60px;
		// min-height: 90vh;
	}
	.hero-inner {
		text-align: center;
		.hero-sub {
			margin-top: 16px;
			font-size: 16px;
			opacity: 0.6;
			@media only screen and (max-width: 767px) {
				margin-top: 16px;
			}
		}
	}
	.hero-logo {
		height: 50px;
		margin-bottom: 15px;
		@media only screen and (max-width: 991px) {
			height: 48px;
		}
		@media only screen and (max-width: 767px) {
			height: 44px;
			margin-bottom: 13px;
		}
		@media only screen and (max-width: 482px) {
			margin-bottom: 10px;
		}
	}
	.hero-title {
		position: relative;
		h1 {
			font-family: $font-sf-bold;
			font-size: 27px;
			margin-bottom: 30px;
			@media only screen and (max-width: 991px) {
				font-size: 26px;
				margin-bottom: 22px;
			}
			@media only screen and (max-width: 767px) {
				font-size: 22px;
				margin-bottom: 18px;
			}
			@media only screen and (max-width: 482px) {
				margin-bottom: 35px;
			}
		}
	}
	.mobile-mockup {
		position: relative;
		margin-bottom: 30px;
		@media only screen and (max-width: 991px) {
			margin-bottom: 20px;
		}
		@media only screen and (max-width: 767px) {
			margin-bottom: 15px;
		}
		@media only screen and (max-width: 482px) {
			margin-bottom: 15px;
		}
		.img-hero {
			width: 100%;
			max-width: 1100px;
			height: auto;
			position: relative;
		}
		p {
			color: #000000;
			opacity: 0.4;
			@media only screen and (max-width: 482px) {
				font-size: 14px;
			}
		}
	}
	.hero-btn {
		position: relative;
		padding-left: -13px;
		padding-right: -13px;
		@media only screen and (max-width: 482px) {
			padding-left: 0;
			padding-right: 0;
		}
		a {
			margin-left: 13px;
			margin-right: 13px;
			width: 100%;
			max-width: 260px;
			@media only screen and (max-width: 767px) {
				max-width: 230px;
				margin-top: 20px;
			}
			@media only screen and (max-width: 482px) {
				min-width: 100%;
				margin-left: 0px;
				margin-right: 0px;
				display: block;
				margin-top: 20px;
			}
		}
	}
}

/*--------------------------------------------------------------
# circles
--------------------------------------------------------------*/
.circles {
	@media only screen and (max-width: 767px) {
		display: none;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
		width: 100%;
		z-index: -1;
		&:nth-child(1) {
			width: 153px;
			height: 153px;
			background: transparent
				linear-gradient(180deg, #27ef8d 0%, #ffffff 100%) 0% 0%
				no-repeat padding-box;
			background: rgba(64, 243, 166, 0.33);
			border-radius: 100%;
			// opacity: 0.5;
			position: fixed;
			top: 14%;
			left: 10%;
			transform: matrix(0.37, -0.93, 0.93, 0.37, 0, 0);
			@media only screen and (max-width: 1499px) {
				width: 132px;
				height: 132px;
				top: 12%;
				left: 5%;
			}
			@media only screen and (max-width: 1199px) {
				width: 102px;
				height: 102px;
				top: 10%;
				left: 3%;
			}
			@media only screen and (max-width: 767px) {
				width: 90px;
				height: 90px;
				top: 8%;
				left: 1%;
			}
		}
		&:nth-child(2) {
			width: 440px;
			height: 440px;
			background: transparent
				linear-gradient(180deg, #27ef8d 0%, #ffffff 100%) 0% 0%
				no-repeat padding-box;
			background: rgba(64, 243, 166, 0.33);
			// opacity: 0.5;
			transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);
			border-radius: 100%;

			position: fixed;
			bottom: 0;
			left: -7%;

			@media only screen and (max-width: 1499px) {
				width: 350px;
				height: 350px;
				bottom: 0;
				left: -7%;
			}
			@media only screen and (max-width: 1199px) {
				width: 250px;
				height: 250px;
				bottom: 0;
				left: -6%;
			}
			@media only screen and (max-width: 767px) {
				width: 180px;
				height: 180px;
				bottom: 0;
				left: -6%;
			}
			@media only screen and (max-width: 482px) {
				width: 150px;
				height: 150px;
				bottom: 0;
				left: -9%;
			}
		}

		&:nth-child(3) {
			width: 250px;
			height: 250px;
			border-radius: 100%;
			background: transparent
				linear-gradient(180deg, #27ef8d 0%, #ffffff 100%) 0% 0%
				no-repeat padding-box;
			background: rgba(64, 243, 166, 0.33);
			// opacity: 0.5;
			transform: matrix(-0.26, -0.97, 0.97, -0.26, 0, 0);
			position: fixed;
			bottom: -8%;
			left: 10%;
			@media only screen and (max-width: 1499px) {
				width: 200px;
				height: 200px;
				bottom: -6%;
				left: 7%;
			}
			@media only screen and (max-width: 1199px) {
				width: 150px;
				height: 150px;
				bottom: -4%;
				left: 6%;
			}
			@media only screen and (max-width: 767px) {
				width: 110px;
				height: 110px;
				bottom: -2%;
				left: 6%;
			}
		}
		&:nth-child(4) {
			width: 290px;
			height: 290px;
			border-radius: 100%;
			background: transparent
				linear-gradient(180deg, #27ef8d 0%, #ffffff 100%) 0% 0%
				no-repeat padding-box;
			background: rgba(64, 243, 166, 0.33);
			// opacity: 0.5;
			transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);

			position: fixed;
			top: -2%;
			right: -4%;

			@media only screen and (max-width: 1499px) {
				width: 200px;
				height: 200px;
				top: -2%;
				right: -4%;
			}
			@media only screen and (max-width: 1199px) {
				width: 180px;
				height: 180px;
				top: -2%;
				right: -4%;
			}
			@media only screen and (max-width: 767px) {
				width: 140px;
				height: 140px;
				top: -2%;
				right: -4%;
			}
			@media only screen and (max-width: 482px) {
				width: 120px;
				height: 120px;
				top: -4%;
				right: -9%;
			}
		}
		&:nth-child(5) {
			width: 500px;
			height: 500px;
			background: transparent
				linear-gradient(180deg, #27ef8d 0%, #ffffff 100%) 0% 0%
				no-repeat padding-box;
			background: rgba(64, 243, 166, 0.33);
			// opacity: 0.5;
			transform: matrix(1, 0, 0, 1, 0, 0);
			border-radius: 100%;
			position: fixed;
			bottom: -7%;
			right: -11%;
			@media only screen and (max-width: 1499px) {
				width: 400px;
				height: 400px;
				bottom: -7%;
				right: -11%;
			}
			@media only screen and (max-width: 1199px) {
				width: 290px;
				height: 290px;
				bottom: -6%;
				right: -10%;
			}
			@media only screen and (max-width: 767px) {
				width: 210px;
				height: 210px;
				bottom: -6%;
				right: -12%;
			}
			@media only screen and (max-width: 482px) {
				width: 190px;
				height: 190px;
				bottom: -6%;
				right: -20%;
			}
		}
	}
}
