/*--------------------------------------------------------------
# mockup
--------------------------------------------------------------*/

.mockup {
	padding: 80px 0px;
	@media only screen and (max-width: 767px) {
		padding: 50px 0px;
	}
	@media only screen and (max-width: 482px) {
		padding: 35px 0px;
	}
	.mock-text {
		h2 {
			font-family: $font-sf-bold;
			font-size: 47px;
			margin-bottom: 20px;
			@media only screen and (max-width: 1499px) {
				font-size: 35px;
				margin-bottom: 16px;
			}
			@media only screen and (max-width: 1199px) {
				font-size: 34px;
				margin-bottom: 16px;
			}
			@media only screen and (max-width: 991px) {
				font-size: 32px;
			}
			@media only screen and (max-width: 767px) {
				font-size: 29px;
				margin-bottom: 10px;
			}
		}
		p {
			font-size: 22px;
			color: #848484;
      @media only screen and (max-width: 991px) {
       font-size: 20px;
      }
			@media only screen and (max-width: 767px) {
				font-size: 18px;
			}
		}
		h3 {
			font-size: 32px;
			margin-bottom: 20px;
			@media only screen and (max-width: 1199px) {
				font-size: 25px;
				margin-bottom: 12px;
			}
			@media only screen and (max-width: 767px) {
				font-size: 22px;
			}
		}
	}

	.point-box {
		.flex-ro {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid rgba($bg-black, 0.28);
			padding: 14px 0px;
			@media only screen and (max-width: 767px) {
				padding: 12px 0px;
			}
			h5 {
				font-size: 21px;
				@media only screen and (max-width: 1199px) {
					font-size: 19px;
				}
				@media only screen and (max-width: 767px) {
					font-size: 18px;
				}
			}
			p {
				font-size: 18px;
				font-weight: 600;
				color: #ff2c2c;
				&.success {
					color: #19f094;
				}
				@media only screen and (max-width: 767px) {
					font-size: 16px;
				}
			}
		}
		.info {
			font-size: 14px;
			line-height: 1.4;
			color: #000000;
			opacity: 0.4;
			margin-top: 8px;
		}
	}

	.form-con {
		position: relative;
		.input-style {
			height: 60px;
			box-shadow: 0px 3px 6px #00000029;
			border-radius: 50px;
			border: 0;
			background-color: #fff;
			text-indent: 10px;
			font-size: 17px;
			&:focus {
				box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
			}
			&::placeholder {
				color: #bcbcbc;
			}
		}
		.btn-submit {
			text-decoration: none;
			border: 0;
			background-color: $primary-color;
			color: #fff;
			font-size: 16px;
			border-radius: 50px;
			padding: 10.5px 25px;
			position: absolute;
			top: 50%;
			right: 8px;
			transform: translateY(-50%);
			transition: all 0.2s ease-in;
			&:hover,
			&:focus {
				background-color: darken($color: $primary-color, $amount: 10%);
				color: #fff;
			}
		}
	}
}

.video-mockup {
	max-width: 290px;
	@media only screen and (max-width: 991px) {
		margin-left: auto;
		margin-right: auto;
		max-width: 220px;
	}
	video {
		width: 100%;
		height: auto;
		outline: none;
	}
}
