/*--------------------------------------------------------------
# genral
--------------------------------------------------------------*/
.genral {
	padding: 60px 0px;
	padding-top: 100px;
	@media only screen and (max-width: 1199px) {
		padding-top: 90px;
	}
	@media only screen and (max-width: 991px) {
		padding: 40px 0px;
		padding-top: 70px;
	}
	.main-wrapper {
		max-width: 629px;
		margin-left: auto;
		margin-right: auto;
	}

	.sec-t {
		text-align: center;
		margin-bottom: 40px;
		@media only screen and (max-width: 1199px) {
			margin-bottom: 30px;
		}
		@media only screen and (max-width: 767px) {
			margin-bottom: 24px;
		}
		h3 {
			font-size: 40px;
			font-weight: 700;
			margin-bottom: 6px;
			@media only screen and (max-width: 1199px) {
				font-size: 36px;
				margin-bottom: 4px;
			}
			@media only screen and (max-width: 991px) {
				font-size: 34px;
			}
			@media only screen and (max-width: 767px) {
				font-size: 28px;
			}
		}
		p {
			color: #555555;
			font-weight: 500;
			font-size: 18px;
			@media only screen and (max-width: 1199px) {
				font-size: 17px;
			}
			@media only screen and (max-width: 767px) {
				font-size: 15px;
			}
		}
	}
	.form-grp {
		position: relative;
		.form-control {
			background-color: #ededed;
			border-radius: 50px;
			border: 0;
			height: 60px;
			text-indent: 36px;
			font-weight: 500;
			font-size: 17px;
			@media only screen and (max-width: 991px) {
				height: 56px;
				font-size: 16px;
				text-indent: 26px;
			}
			&:focus {
				box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.25);
			}
		}
		.code {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 14px;
			transform: translateY(-50%);
			background-color: #ededed;
			text-align: center;
			width: 30px;
			height: 60px;
			line-height: 60px;
			border-radius: 50%;
			font-size: 18px;
			font-weight: 700;
			@media only screen and (max-width: 991px) {
				height: 56px;
				line-height: 56px;
				font-size: 17px;
				left: 9px;
				width: 26px;
			}
		}
	}
	.btn-submit {
		margin-top: 33px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		border: 0;
		border-radius: 50px;
		height: 59px;
		padding: 10px 15px;
		font-size: 17px;
		font-weight: 600;
		background-color: $primary-color;
		color: $bg-white;
		text-decoration: none;
		transition: all 0.2s ease-in;
		@media only screen and (max-width: 991px) {
			height: 55px;
			font-size: 16px;
			margin-top: 25px;
		}
		&:hover {
			background-color: darken($color: $primary-color, $amount: 10%);
		}
	}

	.or {
		text-align: center;
		padding: 30px 0px;
		font-size: 18px;
		font-weight: 600;
		@media only screen and (max-width: 991px) {
			padding: 20px 0px;
		}
	}

	.legal-text {
		text-align: center;
		font-size: 15px;
		max-width: 380px;
		margin-left: auto;
		margin-right: auto;
		padding: 30px 0px;
		@media only screen and (max-width: 767px) {
			padding: 20px 0px;
		}
		a {
			display: inline-block;
			text-decoration: none;
			color: #939393;
		}
	}

	.v-text {
		text-align: center;
		font-size: 17px;
		font-weight: 600;
		a {
			text-decoration: none;
			display: inline-block;
			color: $primary-color;
		}
		padding: 30px 0px;
		@media only screen and (max-width: 767px) {
			padding: 20px 0px;
		}
	}

	.btn-flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.btn-com {
		display: inline-flex;
		justify-content: center;
		text-align: center;
		border: 0;
		min-width: 160px;
		background-color: rgba(#000, 0.4);
		color: $bg-white;
		border-radius: 50px;
		padding: 12px 15px;
		font-size: 16px;
		font-weight: 500;
		transition: all 0.2s ease-in;
		@media only screen and (max-width: 991px) {
			min-width: 120px;
			font-size: 15px;
			padding: 11px 15px;
		}
		&:hover {
			opacity: 0.7;
		}
		&.btn-help {
			background-color: #e5e5e5;
			color: #000000;
		}
	}
}

/*--------------------------------------------------------------
# abt-sec
--------------------------------------------------------------*/
.abt-sec {
	padding: 70px 0px;
	padding-top: 130px;
	@media only screen and (max-width: 1199px) {
		padding-top: 110px;
	}
	@media only screen and (max-width: 991px) {
		padding-top: 100px;
		padding-bottom: 60px;
	}
	.js-tabs {
		padding-bottom: 50px;
		@media only screen and (max-width: 991px) {
			padding-bottom: 35px;
		}
		li {
			&:not(:last-child) {
				margin-right: 12px;
			}
		}
		.nav-link {
			display: block;
			padding: 6px 20px;
			font-family: $font-sf-bold;
			font-size: 15px;
			color: $text-color;
			text-decoration: none;
			border-radius: 5px;
			&.active {
				background-color: #f3f3f3;
				color: $text-color;
			}
		}
	}

	.tab-box {
		display: block;
		width: 100%;
		text-decoration: none;
		color: $text-color;
		background-color: #f3f3f3;
		border-radius: 15px;
		padding: 26px 26px 0px 26px;
		height: 100%;
		@media only screen and (max-width: 767px) {
			padding: 20px 20px 0px 20px;
		}
		h1 {
			font-family: $font-sf-bold;
			font-size: 28px;
			@media only screen and (max-width: 1199px) {
				font-size: 24px;
			}
			@media only screen and (max-width: 767px) {
				font-size: 23px;
			}
		}
		.detail {
			padding-bottom: 30px;
			@media only screen and (max-width: 991px) {
				padding-bottom: 0px;
				padding-top: 25px;
			}
			h4 {
				font-family: $font-sf-bold;
				font-size: 20px;
				margin-bottom: 4px;
				@media only screen and (max-width: 1199px) {
					font-size: 18px;
				}
			}
			p {
				font-size: 15px;
			}
		}
	}
}

.blog-page {
	background-color: #f3f3f3;
	padding: 30px 30px;
	border-radius: 15px;
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	@media only screen and (max-width: 991px) {
		padding: 20px 20px;
		text-align: center;
	}
	.heading-text {
		text-align: center;
		margin-bottom: 30px;
		@media only screen and (max-width: 767px) {
			margin-bottom: 20px;
		}
		h1 {
			font-family: $font-sf-bold;
			font-size: 32px;
			margin-bottom: 8px;
			@media only screen and (max-width: 767px) {
				font-size: 24px;
				margin-bottom: 6px;
			}
		}
		P {
			font-family: $font-sf-bold;
			font-size: 18px;
			@media only screen and (max-width: 767px) {
				font-size: 16px;
			}
			span {
				font-family: $font-sf-regular;
				display: inline-block;
				padding-left: 15px;
			}
		}
	}
	.blog-text {
		p {
			&:not(:last-child) {
				margin-bottom: 20px;
				@media only screen and (max-width: 767px) {
					margin-bottom: 16px;
				}
			}
			font-family: $font-sf-bold;
			font-size: 16px;
			@media only screen and (max-width: 767px) {
				font-size: 15px;
			}
		}
	}
}

/*--------------------------------------------------------------
# forms-place
--------------------------------------------------------------*/

.form-place {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  h1{
    font-family: $font-sf-bold;
    font-size: 34px;
    text-align: center;
    margin-bottom: 34px;
    @media only screen and (max-width: 767px) {
     font-size: 30px;
     margin-bottom: 27px;
    }
    @media only screen and (max-width: 482px) {
     font-size: 28px;
     margin-bottom: 23px;
    }
  }
}

.form-link {
  &:not(:last-child) {
  margin-bottom: 20px;
  }
	text-decoration: none;
	display: flex;
  align-items: center;
  justify-content: space-between;
	width: 100%;
  background-color: #F3F3F3;
	color: $text-color;
	padding: 17px 25px;
	border-radius: 14px;
  p{
    font-family: $font-sf-bold;
    font-size: 16px;
    color: $text-color;
  }
  .chev-right{
    height: 18px;
  }
  transition: all .2s ease-in;
  &:hover{
    background-color: #dbdbdb;
  }
}

/*--------------------------------------------------------------
# form-single-box
--------------------------------------------------------------*/
.form-single-box{
  background-color: #F3F3F3;
  padding: 25px 25px;
  border-radius: 15px;
  @media only screen and (max-width: 767px) {
   padding: 20px 20px;
  }
  h2{
    text-align: center;
    font-family: $font-sf-bold;
    color: $text-color;
    font-size: 23px;
    margin-bottom: 20px;
    @media only screen and (max-width: 767px) {
     font-size: 22px;
     margin-bottom: 16px;
    }
  }
  input,textarea{
    &::placeholder{
      color: #A5A5A5;
    }
  }
  .form-control{
    text-align: center;
    padding: 11px 12px;
    border-radius: 50px;
    border: 0;
  }
}
