@font-face {
  font-family: "Minecraft Regular";
  src: url("../fonts/MinecraftRegular-Bmg3.otf");
}
@font-face {
  font-family: "Minecraft Regular Bold";
  src: url("../fonts/MinecraftBold-nMK1.otf");
  font-weight: bold;
}
/*--------------------------------------------------------------
# base
--------------------------------------------------------------*/
body {
  font-family: "Minecraft Regular";
  font-size: 16px;
  font-style: normal;
  color: #4f5158;
  line-height: 1.6;
  overflow-x: hidden;
  font-size: 16px;
  background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  color: #2042e3;
}
a:focus, a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

audio,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Minecraft Regular Bold";
  margin: 0;
  color: #0c1636;
}

p {
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* optional css fade in animation */
iframe {
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

/*--------------------------------------------------------------
# body-bg
--------------------------------------------------------------*/
.body-bg {
  width: 100%;
  height: 100%;
}
.body-bg .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

/*--------------------------------------------------------------
# top-text
--------------------------------------------------------------*/
.top-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
.top-text h1 {
  font-size: 27px;
}
.top-text h1 span {
  line-height: 1.2;
  color: #FFFFFF;
}
@media only screen and (max-width: 1199px) {
  .top-text h1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .top-text h1 {
    font-size: 20px;
  }
}