@font-face {
	font-family: "SF Pro Rounded Regular";
	src: url("../fonts/ead4092f880f75ff0883ced1856b2c37.eot"); /* IE9*/
	src: url("../fonts/ead4092f880f75ff0883ced1856b2c37.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/ead4092f880f75ff0883ced1856b2c37.woff2")
			format("woff2"),
		/* chrome、firefox */
			url("../fonts/ead4092f880f75ff0883ced1856b2c37.woff") format("woff"),
		/* chrome、firefox */
			url("../fonts/ead4092f880f75ff0883ced1856b2c37.ttf")
			format("truetype"),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
			url("../fonts/ead4092f880f75ff0883ced1856b2c37.svg#SF Pro Rounded Regular")
			format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "SF Pro Rounded Semibold";
	src: url("../fonts/bold/49cf9e586b122fd8b8cf67c4df697fb9.eot"); /* IE9*/
	src: url("../fonts/bold/49cf9e586b122fd8b8cf67c4df697fb9.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */
			url("../fonts/bold/49cf9e586b122fd8b8cf67c4df697fb9.woff2")
			format("woff2"),
		/* chrome、firefox */
			url("../fonts/bold/49cf9e586b122fd8b8cf67c4df697fb9.woff")
			format("woff"),
		/* chrome、firefox */
			url("../fonts/bold/49cf9e586b122fd8b8cf67c4df697fb9.ttf")
			format("truetype"),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
			url("../fonts/bold/49cf9e586b122fd8b8cf67c4df697fb9.svg#SF Pro Rounded Semibold")
			format("svg"); /* iOS 4.1- */
}

$font-sf-regular: "SF Pro Rounded Regular";
$font-sf-bold: "SF Pro Rounded Semibold";



$bg-white:#FFFFFF;
$bg-black:#000000;
$bg-gray:#F3FBF9;
$bg-nav-collapse:#000;
$primary-color: #7452BD;
$text-color: #fff;
$title-color:#fff;
